[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==1.7.2"
pymongo = "==3.11.0"
fastapi = "==0.61.2"
uvicorn = "==0.12.2"

[dev-packages]

[requires]
python_version = "3.8"
